@font-face {
    font-family: "ProximaRegular";
    src: url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "AlegreyaRegular";
    src: url("../fonts/Alegreya/Alegreya-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "AlegreyaBold";
    src: url("../fonts/Alegreya/Alegreya-Bold.ttf") format("truetype");
}

/* Common styles *//* Common styles *//* Common styles */

body {
  margin: 0;
  padding: 0
}

body h1, body h2, body h3, body h4, body h5 {
    margin: 0;
}

body h3 {
    font-family: "AlegreyaBold", sans-serif;
}

body p {
    font-family: "ProximaRegular", sans-serif;
}

body a {
    font-family: "AlegreyaRegular", sans-serif;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

body ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.container,
.heading__container {
  margin: 0 auto;
  max-width: 1260px;
  width: 100%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.overflow {
  overflow: hidden;
}

/* Main styles */
/* Header *//* Header *//* Header */
.heading {
  background: rgba(86, 83, 76, .529);
  height: 70px;
  width: 100%;
}

.page-header {
  background: url('../img/hero.png') no-repeat;
  background-position: 0% 0%;
  background-size: cover;
  height: 100vh;
}

.heading-logo__link {
  float: left;
}

.navigation-list {
  float: left;
  position: relative;
  left: 15.7%;
}

.navigation-list__item {
    display: inline-block
  }

.navigation-list__item:after {
    content: "~";
    color: #fff;

    /* треба буде замінити на перемінну */
    font-family: "AlegreyaRegular", sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin: 0 20px;
}

.navigation-list__item:nth-of-type(5)::after {
    display: none;
}

.navigation-list__link {
    color: #fff;
  }

.social-list {
  float: right;
}

.social-list__item {
    display: inline-block;
  }
