@font-face {
    font-family: "ProximaRegular";
    src: url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "AlegreyaRegular";
    src: url("../fonts/Alegreya/Alegreya-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "AlegreyaBold";
    src: url("../fonts/Alegreya/Alegreya-Bold.ttf") format("truetype");
}

/* Common styles *//* Common styles *//* Common styles */
body {
  display: flex;
  margin: 0;
  padding: 0;

  & h3 {
    font-family: "AlegreyaBold", sans-serif;
  }
}


body p {
  font-family: "ProximaRegular", sans-serif;
}

body a {
  font-weight: "AlegreyaRegular", sans-serif;
}

.container {
  max-width: 1260px;
  width: 100%
}

/* Header *//* Header *//* Header */
