:root {
  font-size: 16px;
  line-height: 32px;

  --black: #000;
  --white: #fff;
  --gold: #dfc691;
  --borderGrey: #9e9c93;
  --textGrey: #56534c;
  --textGold: #a47d5e;
  --textUp: uppercase;
  --marginCenter: 0 auto;
  --fontAleReg: "AlegreyaRegular", sans-serif;
  --fontAleBol: "AlegreyaBold", sans-serif;
  --fontProReg: "ProximaRegular", sans-serif;
  --fontBold: bold;
  --contWidth: 1260px;

/* Cake Art */
  --imgWidth: 292.92788px;
  --imgWidth: calc(var(--contWidth) / 4.3014);

/* Breakfast Section */
  --paperWidth: 440px;
  --paperHeight: 600px;
}

@font-face {
    font-family: "ProximaRegular";
    src: url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "AlegreyaRegular";
    src: url("../fonts/Alegreya/Alegreya-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "AlegreyaBold";
    src: url("../fonts/Alegreya/Alegreya-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "PlayfairRegular";
    src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "ScriptinaRegular";
    src: url("../fonts/Scriptina/Scriptina-Regular.ttf") format("truetype");
}

/* Common styles *//* Common styles *//* Common styles */

body {
  margin: 0;
  padding: 0;
}

body h1, body h2, body h3, body h4, body h5, body p {
  margin: 0;
}

body h3 {
    font-family: "AlegreyaBold", sans-serif;
    font-family: var(--fontAleBol);
    color: #56534c;
    color: var(--textGrey);
    font-weight: bold;
    font-weight: var(--fontBold);;
  }

body p {
    font-family: "ProximaRegular", sans-serif;
    font-family: var(--fontProReg);
    color: #56534c;
    color: var(--textGrey);
    letter-spacing: 0.1em;
  }

body a {
    font-family: "AlegreyaRegular", sans-serif;
    font-family: var(--fontAleReg);
    font-size: 16px;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    text-transform: var(--textUp);
    letter-spacing: 0.3em;
  }

body ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

.container,
.heading__container,
.page-footer-bottom-wrap {
  margin: 0 auto;
  margin: var(--marginCenter);
  max-width: 1260px;
  max-width: var(--contWidth);
  width: 100%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.overflow {
  overflow: hidden;
}

*:focus {
    outline: none;
}
/* Main styles */
/*Page Header *//*Page Header *//*Page Header */
.page-header {
  background: url('../img/hero.png') no-repeat;
  background-position: 0% 0%;
  background-size: cover;
  height: 100vh;
}
.page-header::after {
    content: url('../img/border_bullets.png');
    position: absolute;
    bottom: -64px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

.heading {
  background: rgba(86, 83, 76, .529);
  height: 70px;
  width: 100%;
}

.heading__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

.heading-hamburger {
  display: none;
}

.heading-hamburger__stripe {
    width: 28px;
    height: 3px;
    margin: 5px 0;
    background: #fff;
    background: var(--white);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

.heading-hamburger.is-active{
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.heading-hamburger .is-active .heading-hamburger__stripe:nth-child(2){
  -webkit-transition: none;
  transition: none;
}

.heading-hamburger .heading-hamburger__stripe:nth-child(2){
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.heading-hamburger.is-active .heading-hamburger__stripe:nth-child(2){
  opacity: 0;
}

.heading-hamburger.is-active .heading-hamburger__stripe:nth-child(1),
.heading-hamburger.is-active .heading-hamburger__stripe:nth-child(3){
  -webkit-transform-origin: right;
          transform-origin: right;
}

.heading-hamburger.is-active .heading-hamburger__stripe:nth-child(1){
  -webkit-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg);
}

.heading-hamburger.is-active .heading-hamburger__stripe:nth-child(3){
  -webkit-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg);
}


.heading-logo {
  margin-top: 15px;
}

.navigation {
  -webkit-box-flex: 0.14;
      -ms-flex-positive: 0.14;
          flex-grow: 0.14;
}

.navigation-open {
  display: block;
  position: absolute;
  top: 70px;
  background: rgba(86, 83, 76, .529);
  z-index: 100;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-list__item:nth-of-type(-n+4)::after {
      content: "~";
      color: #fff;
      color: var(--white);
      font-family: "AlegreyaRegular", sans-serif;
      font-family: var(--fontAleReg);
      font-size: 16px;
      font-size: 1rem;
      text-decoration: none;
      margin: 0 30px;
    }

.navigation-list__link {
    color: #fff;
    color: var(--white);
  }

.navigation-list__link:hover {
      color: #000;
      color: var(--black);
    }

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.social-list__item {
    margin-left: 28px;
  }

.social-list__item:hover {
      filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="1 0" /><feFuncG type="table" tableValues="1 0" /><feFuncB type="table" tableValues="1 0" /></feComponentTransfer></filter></svg>#filter');
      -webkit-filter: invert(100%);
              filter: invert(100%);
    }

.social-list__item:nth-of-type(1) {
      margin-left: 0;
    }

.header-content__wrap {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 773px;
    text-align: center;
    color: #fff;
    color: var(--white);
  }

.header-content__big-text {
    font-size: 88px;
    font-size: 5.5rem;
    font-family: "PlayfairRegular", sans-serif;
    line-height: 88px;
    line-height: 5.5rem;
    letter-spacing: 0.075em;
    text-shadow: 0px 1px 0px rgba(61, 48, 41, .004);
    margin-bottom: 56px;
  }

.header-content__big-text::after {
    content: url('../img/dashed_line.png');
  }

.header-content__small-text {
    font-size: 24px;
    font-size: 1.5rem;
    color: #fff;
    color: var(--white);
    line-height: 1.5;
    text-shadow: 0px 1px 0px rgba(61, 48, 41, .004);
    max-width: 550px;
    width: 100%;
    margin: 0 auto 100px;
    margin: var(--marginCenter) 100px;
  }

.header-content__link {
    color: #fff;
    color: var(--white);
  }

.link-btn {
  background: rgba(126, 123, 117, .63);
  font-family: "AlegreyaBold", sans-serif;
  font-family: var(--fontAleBol);
  padding: 13px 36px;
  font-weight: bold;
  font-weight: var(--fontBold);;
  border: 1px dashed #9e9c93;;
  border: 1px dashed var(--borderGrey);
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-transform: var(--textUp);
}

.link-btn:hover {
    background: rgba(0, 0, 0, .5);
  }

/* Cake Art *//* Cake Art *//* Cake Art */
.cake-art-section {
  background: url('../img/cake_art_bg.png') no-repeat;
  background-position: 0% 0%;
  background-size: cover;
  text-align: center;
  padding-top: 105px;
  padding-bottom: 105px;
}

.art-of-cakes {
  max-width: 630px;
  max-width: calc(var(--contWidth) / 2);
  width: 100%;
  float: left;
}

.art-of-cakes__header {
    font-size: 48px;
    font-size: 3rem;
    line-height: 1.625;
    letter-spacing: 0.025em;
  }

.art-of-cakes__under-header {
    font-family: "AlegreyaBold", sans-serif;
    font-family: var(--fontAleBol);
    font-weight: bold;
    font-weight: var(--fontBold);;
    color: #a47d5e;;
    color: var(--textGold);
    text-transform: uppercase;
    text-transform: var(--textUp);
    line-height: 0.625;
    margin-bottom: 60px;
  }

.art-of-cakes__small-text {
    line-height: 1.714;
    font-weight: bold;
    font-weight: var(--fontBold);;
    width: 525px;
    margin: 0 auto 47px;
    margin: var(--marginCenter) 47px;
  }

.chef-cook__chef {
    font-size: 24px;
    font-size: 1.5rem;
    font-family: "AlegreyaBold", sans-serif;
    font-family: var(--fontAleBol);
    color: #56534c;
    color: var(--textGrey);
    font-weight: bold;
    font-weight: var(--fontBold);;
    line-height: 1.25;
    letter-spacing: 0.025em;
    margin-bottom: 47px;
  }

.chef-cook__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 24px;
  }

.chef-cook__name,
  .chef-cook__surname {
    font-size: 24px;
    font-size: 1.5rem;
    font-family: "AlegreyaBold", sans-serif;
    font-family: var(--fontAleBol);
    line-height: 1.25;
    letter-spacing: 0.025em;

    border-top: 1px solid rgba(86, 83, 76, .4);
    border-bottom: 1px solid rgba(86, 83, 76, .4);
    padding: 15px 0;
    width: 111px;
  }

.chef-cook__img-wrap {
    width: 103px;
    height: 103px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0 23px;
  }

.chef-cook__text-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin: var(--marginCenter);
    width: 435px;
    height: 108px;
  }

.chef-cook__left-clip {
    font-size: 64px;
    font-size: 4rem;
    height: 32px;
    color: rgba(86, 83, 76, .4);
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

.chef-cook__right-clip {
    font-size: 64px;
    font-size: 4rem;
    height: 32px;
    color: rgba(86, 83, 76, .4);
    -ms-flex-item-align: end;
        align-self: flex-end;
  }

.chef-cook__sign {
    font-size: 24px;
    font-size: 1.5rem;
    font-family: "ScriptinaRegular", sans-serif;
    color: #a47d5e;
    color: var(--textGold);
    line-height: 1.25;
    letter-spacing: 0.025em;
    width: 285px;
    margin: 0 auto;
    margin: var(--marginCenter);
    -ms-flex-item-align: center;
        align-self: center;
  }

.tastes-good-list {
  float: right;
  max-width: 630px;
  max-width: calc(var(--contWidth) / 2);
  width: 100%;
  position: relative;
  margin-top: 40px;
}

.tastes-good-list__item {
    display: inline-block;
    max-width: 292.92788px;
    max-width: var(--imgWidth);
    width: 100%;
    height: 250px;
    overflow: hidden;
    vertical-align: top;
    margin: 9px;
    outline: 5px solid #fff;
    outline: 5px solid var(--white);
    outline-offset: -11px;
  }

.tastes-good-list__item:hover {
      position: relative;
      z-index: 999;
    }

.tastes-good-list__item:last-child {
      position: absolute;
      width: 247px;
      height: 247px;
      right: 50%;
      top: 50%;
      -webkit-transform: translate(50%, -50%);
              transform: translate(50%, -50%);
      opacity: 0.92;
      margin: 0;
      outline: none;
    }

/* Dishes Section *//* Dishes Section *//* Dishes Section */
.dishes-section {
  background: url('../img/dishes_bg.png') no-repeat;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 120px;

}

.dishes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 965px;
  margin: 0 auto;
}

.dishes-left-wrap {
  position: relative;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 420px;
  width: 100%;
  height: 513px;
  -webkit-box-shadow: 0px 13px 123px -5px rgba(125, 125, 125, 1);
          box-shadow: 0px 13px 123px -5px rgba(125, 125, 125, 1);
  border-bottom-left-radius: 74px;
  overflow: hidden;
}

.dishes-left-wrap__img {

  }

.dishes-left-wrap .stars-list {
    margin-left: 25px;
  }

.dishes-left-wrap .stars-list__item {
      margin-bottom: 10px;
      color: #fff;
      color: var(--white);
      font-size: 24px;
      font-size: 1.5rem;
    }

.animation {
  -webkit-transition: 1s;
  transition: 1s;
  left: 520px;
}

.animation-reverse {
  -webkit-transition: 1s;
  transition: 1s;
  left: 0px;
}

.animation-top {
  -webkit-transition: 1s;
  transition: 1s;
  top: -430px;
}

.animation-reverse-top {
  -webkit-transition: 1s;
  transition: 1s;
  top: 0px;
}

.dishes-right-wrap {
  -webkit-box-shadow: 0px 13px 123px -5px rgba(125, 125, 125, 1);
          box-shadow: 0px 13px 123px -5px rgba(125, 125, 125, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url('../img/windmill.png'), #fff;
  background: url('../img/windmill.png'), var(--white);
  background-repeat: no-repeat;
  background-position: bottom right;
  max-width: 545px;
  width: 100%;
  padding-top: 80px;
  position: relative;
}

.dishes-right-wrap__text {
    text-align: left;
    margin-bottom: 70px;
  }

.dishes-right-wrap__header {
    font-size: 48px;
    font-size: 3rem;
    line-height: 1.625;
    letter-spacing: 0.025em;
  }

.dishes-right-wrap__under-header {
    font-family: "AlegreyaBold", sans-serif;
    font-family: var(--fontAleBol);
    font-weight: bold;
    font-weight: var(--fontBold);
    color: #a47d5e;
    color: var(--textGold);
    text-transform: uppercase;
    text-transform: var(--textUp);
    line-height: 0.625;
    margin-bottom: 50px;
  }

.dishes-right-wrap__small-text {
    line-height: 1.714;
    font-weight: bold;
    font-weight: var(--fontBold);
    width: 428px;
  }

.dishes-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dishes-slider__btn-left,
  .dishes-slider__btn-right {
    padding: 0;
    border: 0;
    background: none;
    width: 32px;
    height: 32px;
  }

.dishes-slider__btn-svg:hover {
    fill: #d8bba3;
  }

.dishes-slider-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dishes-slider-list__item {
    margin: 0 15px;
  }

.dishes-slider-list__img-wrap {

  }

.dishes-slider-list__img {
    width: 93px;
    height: 93px;
    overflow: hidden;
    border-radius: 100%;

    -webkit-transition: -webkit-transform 0.3s ease;

    transition: -webkit-transform 0.3s ease;

    transition: transform 0.3s ease;

    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }

.dishes-slider-list__img:hover {
    -webkit-transform:scale(1.1);
            transform:scale(1.1);
  }

.ready-in {
  width: 203px;
  height: 203px;
  background: url('../img/ready_in_bg.png');
  position: absolute;
  top: -8%;
  right: -19%;
  -webkit-box-shadow: 0px 13px 123px -5px rgba(125, 125, 125, 1);
          box-shadow: 0px 13px 123px -5px rgba(125, 125, 125, 1);
  text-align: center;
}

.ready-in__header {
    font-family: "AlegreyaBold", sans-serif;
    font-family: var(--fontAleBol);
    font-size: 18px;
    font-size: 1.125rem;
    text-transform: uppercase;
    text-transform: var(--textUp);
    color: #a47d5e;
    color: var(--textGold);
    margin-top: 30px;
  }

.ready-in__number {
    font-family: "AlegreyaBold", sans-serif;
    font-family: var(--fontAleBol);
    font-size: 88px;
    font-size: 5.5rem;
    line-height: 0.9;
    text-transform: uppercase;
    text-transform: var(--textUp);
    color: #dfc691;
    color: var(--gold);
  }

.ready-in__text {
    font-family: "AlegreyaBold", sans-serif;
    font-family: var(--fontAleBol);
    font-size: 18px;
    font-size: 1.125rem;
    color: #979285;
  }

/* Breakfast Section *//* Breakfast Section *//* Breakfast Section */
.breakfast-section {
  background: url('../img/breakfast.png') no-repeat;
  background-size: cover;
  background-position: 0 50%;
  padding-top: 89px;
  padding-bottom: 89px;
}
.breakfast-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

.breakfast {
  text-align: center;
  -webkit-box-flex: 0.6647;
      -ms-flex-positive: 0.6647;
          flex-grow: 0.6647;
}

.breakfast__header {
    font-size: 56px;
    font-size: 3.5rem;
    line-height: 56px;
    line-height: 3.5rem;
    letter-spacing: 0.05em;
    color: #fff;
    color: var(--white);
  }

.breakfast__under-header {
    font-weight: bold;
    letter-spacing: 0.05em;
    color: #c8a593;
    margin-bottom: 48px;
  }

.breakfast-list__item {
    margin-bottom: 51px;
  }

.breakfast-list__item:last-child {
    margin-bottom: 0;
  }

.breakfast-list__meal {
    font-size: 32px;
    font-size: 2rem;
    font-family: "AlegreyaBold", sans-serif;
    font-family: var(--fontAleBol);
    color: #fff;
    color: var(--white);
    font-weight: bold;
    font-weight: var(--fontBold);
    line-height: 1;
    letter-spacing: 0.05em;
    margin-bottom: 18px;
  }

.breakfast-list__meal-description {
    color: #c2beba;
    line-height: 1;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
  }

.breakfast-list__price {
    font-size: 32px;
    font-size: 2rem;
    font-family: "Alegreya";
    color: #dfc691;
    color: var(--gold);
    line-height: 0.833;
    letter-spacing: 0.05em;
  }

.paper-sheet-wrap {
  position: relative;
  display: block;
  width: 440px;
  width: var(--paperWidth);
  height: 600px;
  height: var(--paperHeight);
  margin-right: 30px;
}

.paper-sheet-bg__first {
    position: absolute;
    top: 4%;
    right: -16px;
  }

.paper-sheet-bg__second {
    position: absolute;
    top: 8%;
    right: -30px;
  }

.paper-sheet {
  position: absolute;
  width: 440px;
  width: var(--paperWidth);
  height: 600px;
  height: var(--paperHeight);
  background: url('../img/wheat.png'), url('../img/bg.png');
  background-repeat: no-repeat, no-repeat;
  background-position: 281% 120%, 0 0;
}

.paper-sheet__dash {
    position: absolute;
    width: 420px;
    width: calc(var(--paperWidth) / 1.04762);
    height: 580px;
    height: calc(var(--paperHeight) / 1.03448);
    top: 0;
    margin: 10px;
    background-image:
    -webkit-gradient(linear, left top, left bottom, color-stop(34%, #9e9c93), color-stop(0%, rgba(158, 156, 147, 0))),
    -webkit-gradient(linear, left top, left bottom, color-stop(34%, #9e9c93), color-stop(0%, rgba(158, 156, 147, 0))),
    -webkit-gradient(linear, left top, right top, color-stop(34%, #9e9c93), color-stop(0%, rgba(158, 156, 147, 0))),
    -webkit-gradient(linear, left top, right top, color-stop(34%, #9e9c93), color-stop(0%, rgba(158, 156, 147, 0)));
    background-image:
    linear-gradient(to bottom, #9e9c93 34%, rgba(158, 156, 147, 0) 0%),
    linear-gradient(to bottom, #9e9c93 34%, rgba(158, 156, 147, 0) 0%),
    linear-gradient(to right, #9e9c93 34%, rgba(158, 156, 147, 0) 0%),
    linear-gradient(to right, #9e9c93 34%, rgba(158, 156, 147, 0) 0%);
    background-image:
    -webkit-gradient(linear, left top, left bottom, color-stop(34%, var(--borderGrey)), color-stop(0%, rgba(158, 156, 147, 0))),
    -webkit-gradient(linear, left top, left bottom, color-stop(34%, var(--borderGrey)), color-stop(0%, rgba(158, 156, 147, 0))),
    -webkit-gradient(linear, left top, right top, color-stop(34%, var(--borderGrey)), color-stop(0%, rgba(158, 156, 147, 0))),
    -webkit-gradient(linear, left top, right top, color-stop(34%, var(--borderGrey)), color-stop(0%, rgba(158, 156, 147, 0)));
    background-image:
    linear-gradient(to bottom, var(--borderGrey) 34%, rgba(158, 156, 147, 0) 0%),
    linear-gradient(to bottom, var(--borderGrey) 34%, rgba(158, 156, 147, 0) 0%),
    linear-gradient(to right, var(--borderGrey) 34%, rgba(158, 156, 147, 0) 0%),
    linear-gradient(to right, var(--borderGrey) 34%, rgba(158, 156, 147, 0) 0%);
    background-position: left, right, top, bottom;
    background-size: 1.5px 16.1px, 1.5px 16.1px, 16.1px 1.5px, 16.1px 1.5px;
    background-repeat: repeat-y, repeat-y, repeat-x, repeat-x;
  }

.paper-sheet__corner {
    position: absolute;
    width: 0;
    height: 0;
    bottom: -1px;
    left: -1px;
    border-top: 31px solid #f3f1e9;
    border-left: 31px solid transparent;
    -webkit-box-shadow: 7px -7px 57px -6px rgba(0, 0, 0, .75);
            box-shadow: 7px -7px 57px -6px rgba(0, 0, 0, .75);
  }

.paper-sheet-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 137px;
  margin-top: 60px;
  background: url('../img/line.png'), url('../img/precel.png');
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 40%, 50% 43%;
}

.paper-sheet-top__est,
  .paper-sheet-top__year {
    font-family: "AlegreyaBold", sans-serif;
    font-family: var(--fontAleBol);
    font-weight: bold;
    font-weight: var(--fontBold);
    color: #56534c;
    color: var(--textGrey);
  }

.paper-sheet-content {
  text-align: center;
}

.paper-sheet-content__header {
    font-size: 40px;
    font-size: 2.5rem;
    font-family: "AlegreyaBold", sans-serif;
    font-family: var(--fontAleBol);
    font-weight: bold;
    font-weight: var(--fontBold);
    line-height: 1.364;
    letter-spacing: 0.025em;
    width: 350px;
    margin: 0 auto 25px;
    margin: var(--marginCenter) 25px;
  }

.paper-sheet-content__small-text {
    font-weight: 200;
    line-height: 2.143;
    letter-spacing: 0.05em;
    width: 350px;
    margin: 0 auto 60px;
    margin: var(--marginCenter) 60px;
  }

.paper-sheet-content__link {
    background: transparent;
    border: 1px solid #9e9c93;
    border: 1px solid var(--borderGrey);
    padding: 14px 60px;
    color: #a47d5e;
    color: var(--textGold);
  }

.paper-sheet-content__link:hover {
      color: white;
      border-color: #a47d5e;
      background: rgba(0, 0, 0, .5);
    }

/* Page Footer *//* Page Footer *//* Page Footer */
.page-footer {
  text-align: center;
  background: #f3f1e9;
  padding-top: 5px;
  padding-bottom: 70px;
}
.page-footer__header {
    font-size: 48px;
    font-size: 3rem;
    font-family: "AlegreyaBold", sans-serif;
    font-family: var(--fontAleBol);
    color: #56534c;
    color: var(--textGrey);
    font-weight: bold;
    font-weight: var(--fontBold);
    line-height: 0.625;
    letter-spacing: 0.025em;
    padding-top: 100px;
    margin-bottom: 15px;

    background: url('../img/windmill-small.png') no-repeat;
    background-position: 50% 0;
  }
.page-footer__under-header {
    font-family: "AlegreyaBold", sans-serif;
    font-family: var(--fontAleBol);
    color: #a47d5e;
    color: var(--textGold);
    font-weight: bold;
    font-weight: var(--fontBold);
    text-transform: uppercase;
    text-transform: var(--textUp);
    line-height: 0.625;
  }

.page-footer-list {
  float: left;
}

.page-footer-list__item {
    width: 312px;
    margin-bottom: 50px;
  }

.page-footer-list__item:last-child {
      margin-bottom: 0;
    }

.page-footer-list__img-wrap {
    width: 103px;
    height: 103px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0 auto 22px;
    margin: var(--marginCenter) 22px;
  }

.page-footer-list__header {
    font-size: 32px;
    font-size: 2rem;
    font-family: "AlegreyaBold", sans-serif;
    font-family: var(--fontAleBol);
    color: #a47d5e;
    color: var(--textGold);
    font-weight: bold;
    font-weight: var(--fontBold);
    line-height: 1;
    letter-spacing: 0.025em;
    margin-bottom: 22px;
  }

.page-footer-list__text {
    line-height: 1.429;
  }

.page-footer-right-wrap {
  margin-top: 100px;
  position: relative;
  float: right;
}

.page-footer-right-wrap__img-wrap {
    overflow: hidden;
    width: 830px;
    height: 546px;
    border: 10px solid #fff;
    border: 10px solid var(--white);
      -webkit-box-shadow: 0px 19px 84px -14px rgba(145, 145, 145, 1);
              box-shadow: 0px 19px 84px -14px rgba(145, 145, 145, 1);
  }

.page-footer-right-wrap__link {
    background: #fff;
    background: var(--white);
    color: #dfc691;
    color: var(--gold);
    border-color: #dfc691;
    border-color: var(--gold);
    padding-left: 29px;
    padding-right: 29px;
    letter-spacing: 0.05em;

    position: absolute;
    bottom: -15px;
    left: -15px;
  }

.ready-in-list {
  position: absolute;
  top: -22px;
  right: 8px;
}

.ready-in-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 203px;
    height: 203px;
    background: #fff;
    background: var(--white);
    text-align: center;
  }

.ready-in-list__item:nth-of-type(1),
    .ready-in-list__item:nth-of-type(2) {
      width: 200px;
      height: 200px;
      margin: 2px auto;
      background: rgba(255, 255, 255, .8);
    }

.ready-in-list__item:first-child {
      margin: 0 auto;
      margin: var(--marginCenter);
    }

.ready-in-list__item:nth-of-type(3) {
      -webkit-box-shadow: 0px 19px 84px -14px rgba(145, 145, 145, 1);
              box-shadow: 0px 19px 84px -14px rgba(145, 145, 145, 1);
      background: url('../img/ready_in_bg.png') no-repeat;
      background-size: cover;
    }

.ready-in-list__item:nth-of-type(3) .ready-in-list__number {
        font-size: 88px;
        font-size: 5.5rem;
        line-height: 0.9;
        color: #dfc691;
        color: var(--gold);
      }

.ready-in-list__item:nth-of-type(3) .ready-in-list__header {
        margin-bottom: 10px;
      }

.ready-in-list__header {
    font-size: 18px;
    font-size: 1.125rem;
    font-family: "AlegreyaBold", sans-serif;
    font-family: var(--fontAleBol);
    color: #a47d5e;
    color: var(--textGold);
    font-weight: bold;
    font-weight: var(--fontBold);
    text-transform: uppercase;
    text-transform: var(--textUp);
    line-height: 0.667;
    letter-spacing: 0.1em;
  }

.ready-in-list__number {
    font-size: 64px;
    font-size: 4rem;
    font-family: "AlegreyaBold", sans-serif;
    font-family: var(--fontAleBol);
    color: #56534c;
    color: var(--textGrey);
    font-weight: bold;
    font-weight: var(--fontBold);
    text-transform: uppercase;
    text-transform: var(--textUp);
    line-height: 1.667;
  }

.ready-in-list__text {
    font-size: 18px;
    font-size: 1.125rem;
    font-family: "AlegreyaBold", sans-serif;
    font-family: var(--fontAleBol);
    color: #979285;
    font-weight: bold;
    font-weight: var(--fontBold);
    line-height: 1.667;
  }

.page-footer-bottom-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
}

.page-footer__link {
  -ms-flex-item-align: center;
      align-self: center;
}

.bottom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-list__item {
    border-top: 1px solid rgba(86, 83, 76, .4);
    border-bottom: 1px solid rgba(86, 83, 76, .4);
    padding-top: 30px;
    padding-bottom: 30px;
  }

.bottom-list__item:nth-of-type(n+1):nth-of-type(-n+2)::after {
      content: "~";
      color: #000;
      color: var(--black);
      font-family: "AlegreyaRegular", sans-serif;
      font-family: var(--fontAleReg);
      font-size: 16px;
      font-size: 1rem;
      text-decoration: none;
      margin: 0 30px;
    }

.bottom-list__item:nth-of-type(n+5):nth-of-type(-n+6)::after {
      content: "~";
      color: #000;
      color: var(--black);
      font-family: "AlegreyaRegular", sans-serif;
      font-family: var(--fontAleReg);
      font-size: 16px;
      font-size: 1rem;
      text-decoration: none;
      margin: 0 30px;
    }

.bottom-list__item:first-child {
      padding-left: 35px;
    }

.bottom-list__item:last-child {
      padding-right: 35px;
    }

.bottom-list__link {
    color: #56534c;
    color: var(--textGrey);
    font-weight: bold;
    font-weight: var(--fontBold);
  }

.bottom-list__link:hover {
      color: red;
    }

/* Media query *//* Media query *//* Media query *//* Media query *//* Media query */
/* Common media query *//* Common media query *//* Common media query */
@media (max-width: 1276px) {
/*Page Header *//*Page Header *//*Page Header */
  .heading-logo {
    margin-left: 5px;
  }
  .social-list {
    margin-right: 5px;
  }

/* Page Footer *//* Page Footer *//* Page Footer */
/* clears the letter-spacing of a last letter */
    .bottom-list__link {
      margin-right: -0.6em;
    }
}

/* Main media query *//* Main media query *//* Main media query */
@media (min-width: 1200px) and (max-width: 1276px) {
  :root {
    --contWidth: 1170px;
  }

/* Dishes Section *//* Dishes Section *//* Dishes Section */
  .dishes {
    margin-left: 47.5px;
  }

/* Page Footer *//* Page Footer *//* Page Footer */
  .page-footer-right-wrap__img-wrap {
    width: 780px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  :root {
    --contWidth: 960px;
  }
/* Page Header *//* Page Header *//* Page Header */
.navigation {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

  .navigation-list__item {
    margin: 0;
  }

    .navigation-list__item:nth-of-type(-n+4)::after {
      content: "|";
      margin: 0 15px;
    }

  .navigation-list__link {
    margin-right: -0.6em;
  }

/* Cake Art *//* Cake Art *//* Cake Art */
.art-of-cakes,
.tastes-good-list {
  float: none;
  margin: 0 auto;
}

.art-of-cakes {
  max-width: none;
  margin-bottom: 80px;
}

.tastes-good-list {
  max-width: 840px;
  max-width: calc(var(--contWidth) / 1.5);
}
  .tastes-good-list__item {
    max-width: 295px;
  }

/* Dishes Section *//* Dishes Section *//* Dishes Section */
.dishes {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dishes-left-wrap {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  max-width: 840px;
  max-width: calc(var(--contWidth) / 1.5);
  height: 351px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

  .dishes-left-wrap__img {
    position: relative;
    top: 0;
  }

.dishes-right-wrap {

  width: 840px;

  width: calc(var(--contWidth) / 1.5);
  max-width: none;
  height: 410px;
}

  .dishes-right-wrap__text {
    margin-bottom: 35px;
  }

.ready-in {
  width: 180px;
  height: 180px;
  top: -4%;
  right: -4%;
  background-position: center;
}

  .ready-in__header {
    margin-top: 13px;
  }
  .ready-in__number {
    font-size: 4.5rem;
  }

/* Page Footer *//* Page Footer *//* Page Footer */
  .page-footer-list {
    float: none;
    margin: 100px auto 100px;
  }

    .page-footer-list__item {
      display: inline-block;
      margin: 0;
    }
  .page-footer-right-wrap {
    float: none;
    margin: 0 auto;
  }

    .page-footer-right-wrap__img-wrap {
      margin: 0 auto;
    }
    .page-footer-right-wrap__link {
      left: 7px;
    }

  .ready-in-list {
    right: 64px;
  }

  .bottom-list__item:nth-of-type(n+1):nth-of-type(-n+2)::after {
    content: "|";
    color: #000;
    color: #000;
    color: var(--black);
    font-family: "AlegreyaRegular", sans-serif;
    font-family: "AlegreyaRegular", sans-serif;
    font-family: var(--fontAleReg);
    font-size: 16px;
    font-size: 1rem;
    text-decoration: none;
    margin: 0 8px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  :root {
    --contWidth: 720px;
  }

/* Page Header *//* Page Header *//* Page Header */
.heading-hamburger {
  display: block;
  margin-left: 5px;
  margin-right: 66px;
}

.heading-logo {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.navigation {
  display: none;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.navigation-open {
  display: block;
  position: absolute;
  top: 70px;
  background: rgba(86, 83, 76, .529);
  z-index: 100;
}

.navigation-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5px;
}

    .navigation-list__item:nth-of-type(-n+4)::after {
      content: none;
    }

.social-list {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.header-content__big-text {
  width: 417px;
  margin: 0 auto 56px;
}

/* Cake Art *//* Cake Art *//* Cake Art */
  .art-of-cakes,
  .tastes-good-list {
    float: none;
    margin: 0 auto;
  }

  .art-of-cakes {
    max-width: none;
    margin-bottom: 80px;
  }

  .tastes-good-list {
    max-width: 1260px;
    max-width: var(--contWidth);
  }
    .tastes-good-list__item {
      max-width: 295px;
    }

.page-header::after {
  bottom: -63px;
}

/* Dishes Section *//* Dishes Section *//* Dishes Section */
.dishes {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dishes-left-wrap {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  max-width: 840px;
  max-width: calc(var(--contWidth) / 1.5);
  height: 280px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

  .dishes-left-wrap__img {
    position: relative;
    top: 0;
    left: -80px;
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75);
  }

.dishes-right-wrap {
  width: 840px;
  width: calc(var(--contWidth) / 1.5);
  max-width: none;
  height: 410px;
  padding-top: 20px;
}

  .dishes-right-wrap__text {
    margin-bottom: 35px;
  }

.ready-in {
  width: 130px;
  height: 130px;
  top: -4%;
  right: -4%;
  background-position: center;
}

  .ready-in__header {
    margin-top: 6px;
  }
  .ready-in__number {
    font-size: 4rem;
  }

/* Breakfast Section *//* Breakfast Section *//* Breakfast Section */
  .breakfast {
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin: 0 auto 88px;
  }

  .paper-sheet-wrap {
    margin: 0 auto;
  }

/* Page Footer *//* Page Footer *//* Page Footer */
  .page-footer-list {
    float: none;
    margin: 50px auto;
  }

    .page-footer-list__item {
      display: inline-block;
      margin: 0;
    }

      .page-footer-list__item:last-child {
        margin-top: 30px;
      }

  .page-footer-list__item {
    width: 235px;
  }

  .page-footer-right-wrap {
    float: none;
  }

    .page-footer-right-wrap__img-wrap {
      width: 700px;
    }

  .bottom-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

    .bottom-list__item {
      width: 160px;
    }

      .bottom-list__item:nth-of-type(n+1):nth-of-type(-n+2)::after {
        content: none;
      }

    .bottom-list__item:first-child {
      padding-left: 0;
      border-bottom: 0px solid rgba(86, 83, 76, .4);
    }
    .bottom-list__item:last-child {
      padding-right: 0;
      border-top: 0px solid rgba(86, 83, 76, .4);
    }
}

@media (min-width: 576px) and (max-width: 767px) {
  :root {
    --contWidth: 540px;
  }
/* Page Header *//* Page Header *//* Page Header */

.heading-hamburger {
  display: block;
  margin-left: 5px;
  margin-right: 66px;
}

.heading-logo {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.navigation {
  display: none;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.navigation-open {
  display: block;
  position: absolute;
  top: 70px;
  background: rgba(86, 83, 76, .529);
  z-index: 100;
}

.navigation-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5px;
}

    .navigation-list__item:nth-of-type(-n+4)::after {
      content: none;
    }

.social-list {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.header-content__big-text {
  width: 417px;
  margin: 0 auto 56px;
}
.page-header::after {
  bottom: -62px;
}
/* Cake Art *//* Cake Art *//* Cake Art */
    .art-of-cakes,
    .tastes-good-list {
      float: none;
      margin: 0 auto;
    }

    .art-of-cakes {
      max-width: none;
      margin-bottom: 80px;
    }

    .tastes-good-list {
      max-width: 1260px;
      max-width: var(--contWidth);
    }
      .tastes-good-list__item {
        max-width: 250px;
      }

    /* Dishes Section *//* Dishes Section *//* Dishes Section */
    .dishes {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }

    .dishes-left-wrap {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      max-width: 1260px;
      max-width: var(--contWidth);
      height: 280px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
    }

      .dishes-left-wrap__img {
        position: relative;
        top: 0;
        left: -9%;
        -webkit-transform: scale(0.86, 0.86);
                transform: scale(0.86, 0.86);
      }

    .dishes-right-wrap {
      width: 1260px;
      width: var(--contWidth);
      max-width: none;
      height: 410px;
      padding-top: 20px;
    }

      .dishes-right-wrap__text {
        margin-bottom: 35px;
      }

    .ready-in {
      width: 130px;
      height: 130px;
      top: -1%;
      right: -1%;
      background-position: center;
    }

      .ready-in__header {
        margin-top: 6px;
      }
      .ready-in__number {
        font-size: 4rem;
      }

/* Breakfast Section *//* Breakfast Section *//* Breakfast Section */
    .breakfast {
      text-align: center;
      -webkit-box-flex: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
      margin: 0 auto 88px;
    }

    .paper-sheet-wrap {
      margin: 0 auto;
    }

  /* Page Footer *//* Page Footer *//* Page Footer */
    .page-footer-list {
      float: none;
      margin: 50px auto;
    }

      .page-footer-list__item {
        display: inline-block;
        margin: 0;
      }

        .page-footer-list__item:last-child {
          margin-top: 30px;
        }

    .page-footer-list__item {
      width: 235px;
    }

    .page-footer-right-wrap {
      float: none;
    }

      .page-footer-right-wrap__img-wrap {
        width: 520px;
        height: 470px;
      }

    .ready-in-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      top: -22px;
      right: 8.5px;
      width: 523px;
    }

        .ready-in-list__item:nth-of-type(3) .ready-in-list__number {
          line-height: 0.8;
        }
      .ready-in-list__number {
        line-height: 1.267;

      }
      .ready-in-list__item:nth-of-type(1),
      .ready-in-list__item:nth-of-type(2) {
        margin-bottom: 0;
        margin-top: 2px;
        height: 150px;
      }
      .ready-in-list__item:nth-of-type(2) {
        margin-left: 2px;
        margin-right: 2px;
      }
      .ready-in-list__item:nth-of-type(3) {
        height: 153px;
      }

    .page-footer-right-wrap__link {
      left: -6px;
    }

    .bottom-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }

      .bottom-list__item {
        width: 160px;
      }

        .bottom-list__item:nth-of-type(n+1):nth-of-type(-n+2)::after {
          content: none;
        }
      .bottom-list__item:first-child {
        padding-left: 0;
        border-bottom: 0px solid rgba(86, 83, 76, .4);
      }
      .bottom-list__item:last-child {
        padding-right: 0;
        border-top: 0px solid rgba(86, 83, 76, .4);
      }
}

@media (max-width: 575px) {
  :root {
    --contWidth: 100%;
    --sidePadding: 10px;
    --paperWidth: 320px;
    --paperHeight: 540px;
  }

  /* Page Header *//* Page Header *//* Page Header */
      .heading {
        margin-bottom: 100px;
      }

      .heading-hamburger {
        display: block;
        margin-left: 5px;
        margin-right: 0;
      }

      .heading-logo {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        margin-left: 0;
        margin-right: 5px;
      }

      .navigation {
        display: none;
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
      }

      .navigation-open {
        display: block;
        position: absolute;
        top: 70px;
        background: rgba(86, 83, 76, .529);
        z-index: 100;
      }

      .navigation-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-left: 5px;
      }

          .navigation-list__item:nth-of-type(-n+4)::after {
            content: none;
          }

      .social-list {
        display: none;
        position: absolute;
        top: 225px;
        z-index: 100;
        background: rgba(86, 83, 76, .529);
        width: 169px;
        margin-right: 0;
      }

        .social-list__item:first-child {
          margin-left: 5px;
        }

      .social-list-open {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }

      .header-content__big-text {
        font-size: 3.5rem;
        line-height: 4.5rem;
        width: 300px;
        margin: 0 auto 32px;
      }

      .header-content__small-text {
        margin-bottom: 86px;
        max-width: 392px;
      }

      .page-header::after {
        bottom: -62px;
      }
  /* Cake Art *//* Cake Art *//* Cake Art */
      .cake-art-section {
        padding-left: var(--sidePadding);
        padding-left: var(--sidePadding);
        padding-right: var(--sidePadding);
        padding-right: var(--sidePadding);
        padding-bottom: 0;
      }

      .art-of-cakes,
      .tastes-good-list {
        float: none;
        margin: 0 auto;
      }

      .art-of-cakes {
        max-width: none;
        margin-bottom: 80px;
      }

        .art-of-cakes__header,
        .art-of-cakes__under-header {
          line-height: 1;
        }
        .art-of-cakes__small-text {
          width: auto;
        }

        .chef-cook__wrap {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
        }
        .chef-cook__img-wrap {
          margin: 8px 0;
        }
        .chef-cook__text-wrap {
          width: 1260px;
          width: var(--contWidth);
        }
        .chef-cook__left-clip,
        .chef-cook__right-clip {
          line-height: 1;
        }

      .tastes-good-list {
        display: none;
        max-width: 1260px;
        max-width: var(--contWidth);
      }

        .tastes-good-list__item {
          max-width: 250px;
        }

/* Dishes Section *//* Dishes Section *//* Dishes Section */
      .dishes {
        width: 320px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
      }

      .dishes-left-wrap {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        max-width: 320px;
        height: 280px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
      }

        .dishes-left-wrap__img {
          position: relative;
          top: 0;
          left: -50%;
          -webkit-transform: scale(0.66, 0.66);
                  transform: scale(0.66, 0.66);
        }

      .dishes-right-wrap {
        width: 320px;
        max-width: none;
        height: 410px;
        padding-top: 20px;
      }

        .dishes-right-wrap__text {
          margin-bottom: 25px;
          padding-left: 10px;
        }
        .dishes-right-wrap__header {
          line-height: 1;
        }
        .dishes-right-wrap__under-header {
          line-height: 3;
          margin-bottom: 0;
        }
        .dishes-right-wrap__small-text {
          width: 310px;
        }

      .dishes-slider {
        width: 320px;
      }

        .dishes-slider__btn-left,
        .dishes-slider__btn-right {
          display: none;
        }

        .dishes-slider-list__item {
          margin: 0 6px;
        }
        .dishes-slider-list__img-wrap {

        }

      .ready-in {
        width: 110px;
        height: 110px;
        top: -1%;
        right: -1%;
        background-position: center;
      }

        .ready-in__header {
          margin-top: 8px;
          font-size: 1rem;
        }
        .ready-in__number {
          font-size: 3rem;
          line-height: 0.8;
        }

  /* Breakfast Section *//* Breakfast Section *//* Breakfast Section */
      .breakfast-section {
        padding-left: var(--sidePadding);
        padding-left: var(--sidePadding);
        padding-right: var(--sidePadding);
        padding-right: var(--sidePadding);
      }

      .breakfast {
        text-align: center;
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        margin: 0 auto 88px;
      }

      .paper-sheet-wrap {
        margin: 0 auto;
      }

      .paper-sheet-bg {
        display: block;
      }

        .paper-sheet-bg__second {
          display: none;
        }
        .paper-sheet-bg__first {
          position: absolute;
          right: -11px;
          width: 341px;
          height: 503px;
        }

      .paper-sheet {
        background-position: 646% 124%, 0 100%;
      }

        .paper-sheet__corner {
          bottom: 0px;
          left: 0px;
        }

      .paper-sheet-top {
        background-size: 93% auto, auto auto;
        height: 88px;
        margin-top: 45px;
      }


        .paper-sheet-content__header {
          font-size: 2rem;
          width: 300px;
        }
        .paper-sheet-content__small-text {
          width: 265px;
        }

/* Page Footer *//* Page Footer *//* Page Footer */
        .page-footer {
          padding-left: var(--sidePadding);
          padding-left: var(--sidePadding);
          padding-right: var(--sidePadding);
          padding-right: var(--sidePadding);
        }

          .page-footer__header,
          .page-footer__under-header {
            line-height: 1;
          }

        .page-footer-list {
          float: none;
          margin: 50px auto;
        }

          .page-footer-list__item {
            display: inline-block;
            margin: 0;
            width: 80%;
          }

            .page-footer-list__item:nth-of-type(2) {
              margin-top: 30px;
              margin-bottom: 30px;
            }

        .page-footer-bottom-wrap {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
        }

        .page-footer-right-wrap {
          float: none;
        }

          .page-footer-right-wrap__img-wrap {
            width: auto;
            border-width: 5px;
            height: 400px;
          }
          .page-footer-right-wrap__img {
            position: relative;
            left: -300px;
          }

        .ready-in-list {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          top: -22px;
          right: 50%;
          -webkit-transform: translateX(50%);
                  transform: translateX(50%);
          width: 95%;
        }

            .ready-in-list__item:nth-of-type(3) .ready-in-list__header {
              margin-bottom: 0;
            }
            .ready-in-list__item:nth-of-type(3) .ready-in-list__number {
              line-height: 0.8;
              font-size: 4rem;
            }

          .ready-in-list__header {
            font-size: 1rem;
             margin-bottom: 0;
          }
          .ready-in-list__number {
            line-height: 1;
            font-size: 3rem;
          }
          .ready-in-list__item:nth-of-type(1),
          .ready-in-list__item:nth-of-type(2) {
            margin-bottom: 0;
            margin-top: 2px;
            height: 98px;
          }
          .ready-in-list__item:nth-of-type(2) {
            margin-left: 2px;
            margin-right: 2px;
          }
          .ready-in-list__item:nth-of-type(3) {
            height: 102px;
          }

        .page-footer-right-wrap__link {
          left: 50%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
          bottom: -26px;
        }

        .bottom-list {
          border-top: 1px solid rgba(86, 83, 76, .4);
          border-bottom: 1px solid rgba(86, 83, 76, .4);
          padding-left: 10px;
          padding-right: 10px;
          -ms-flex-pack: distribute;
              justify-content: space-around;
        }

          .bottom-list__img {
            margin: 20px auto;
          }
          .bottom-list__item {
            border: 0;
            padding: 10px 0;
          }

            .bottom-list__item:first-child {
              padding-left: 0;
            }
            .bottom-list__item:last-child {
              padding-right: 0;
            }
            .bottom-list__item:nth-of-type(n+1):nth-of-type(-n+2)::after {
              content: none;
            }
            .bottom-list:nth-of-type(2) .bottom-list__item:nth-of-type(1) {
              -webkit-box-ordinal-group: 4;
                  -ms-flex-order: 3;
                      order: 3;
            }
            .bottom-list:nth-of-type(2) .bottom-list__item:nth-of-type(2) {
              -webkit-box-ordinal-group: 3;
                  -ms-flex-order: 2;
                      order: 2;
            }
            .bottom-list:nth-of-type(2) .bottom-list__item:nth-of-type(3) {
              -webkit-box-ordinal-group: 2;
                  -ms-flex-order: 1;
                      order: 1;
            }
}

@media (max-width: 374px) {
  :root {
    --contWidth: 100%;
    --sidePadding: 0px;
    --paperWidth: 320px;
    --paperHeight: 540px;
  }

/* Page Header *//* Page Header *//* Page Header */
  .header-content__big-text {
    font-size: 3rem;
    width: 250px;
    margin-bottom: 16px;
  }

  .header-content__small-text {
    margin-bottom: 30px;
  }

/* Dishes Section *//* Dishes Section *//* Dishes Section */
.ready-in {
  top: 0;
  right: 0;
}

/* Breakfast Section *//* Breakfast Section *//* Breakfast Section */
  .paper-sheet-bg {
    display: none;
  }
  .paper-sheet-wrap {
    width: 320px;
  }
    .paper-sheet__dash {
      margin: 8px;
    }

/* Page Footer *//* Page Footer *//* Page Footer */
  .page-footer-right-wrap__link {
    width: 102px;
  }
}

/* Height Media *//* Height Media *//* Height Media */
@media (max-height: 680px) {

  .header-content__big-text {
     font-size: 3.5rem;
    line-height: 1.3;
    margin-bottom: 48px;
    width: 480px;
  }

    .header-content__big-text:after {
      content: none;
    }

  .header-content__small-text {
     font-size: 1.5rem;
    margin-bottom: 48px;
  }
}

@media (max-height: 414px) {

  .header-content__big-text {
    font-size: 2.5rem;
    line-height: 1.3;
    margin-bottom: 32px;
  }

    .header-content__big-text:after {
      content: none;
    }

  .header-content__small-text {
    font-size: 1.1rem;
    margin-bottom: 32px;
  }
}

@media (max-height: 360px) {

  .header-content__big-text {
    font-size: 2.5rem;
    line-height: 1.3;
    margin-bottom: 24px;
    width: 340px;
  }

    .header-content__big-text:after {
      content: none;
    }

  .header-content__small-text {
    font-size: 1.1rem;
    margin-bottom: 32px;
  }
}
